#ads {
  width: 728px;
  height: 90px;
  margin: 4px;
  background: #99ccee;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#query {
  top: 100px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#queryField {
  /* http://stackoverflow.com/questions/5967758 */
  position:    absolute;
  top:         290px;
  left:        50%;    /* move the left edge to the center */
  margin-left: -200px; /* and move it to the left half the box’ width. */
  z-index:     9999;   /* Try to get it on top. */
  width: 200px;
}

#main {
}